<!DOCTYPE html>
<html lang="zh-CN">
  <include file='Public:header' />
  <body>
    <div class="container">
      <include file='Public:head' />
      <!-- 头部 -->
      <div class="jumbotron">
        <h1>元禾东</h1>
        <p class="lead">晚来天欲雪，能饮一杯无</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">进入正题</a></p>
      </div>
      <!-- 标题 -->
      <div class="row marketing">
        <div class="col-lg-6">
          <h4><a href="Home\Subtitle\debt">欠债还钱</a></h4>
          <p>·有欠我钱的请点开链接或者扫码，支持支付宝和微信钱包</p>

          <h4><a href="Home\Subtitle\on_doing">正在做的</a></h4>
          <p>·正在做的各种各样的事情</p>

          <h4><a href="Home\Subtitle\go_doing">想要做的</a></h4>
          <p>·各种异想天开的东西</p>
        </div>
        <div class="col-lg-6">
          <h4><a href="Home\Subtitle\log">文章日志</a></h4>
          <p>·文章和日记</p>

          <h4><a href="Home\Subtitle\physical_index">身体指标</a></h4>
          <p>·各种指标</p>

          <h4><a href="Home\Subtitle\LBS_running">跑步足迹</a></h4>
          <p>·跑一跑十年少</p>
        </div>    
      </div>
      <!-- 子标题 -->
      <include file='Public:tail' />
      <!-- 脚标 -->
    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
