<!DOCTYPE html>
<html lang="zh-CN">
<include file='Public:header' />
<body>
    <div class="container">
		<include file='Public:head' />
		<!-- 头部 -->
		
		<div class="jumbotron">
			<table id="table">
				<tr>
				  <th>title</th>
				  <th>content</th>
				</tr>
				<tr>
				    <td>知乎实名</td>
				    <td>陈秋远</td>
				</tr>
				<tr class="alt">
				    <td>有事联系</td>
				    <td>18628003850</td>
				</tr>
				<tr>
				    <td>我的邮箱</td>
				    <td>380133194@qq.com</td>
				</tr>
				<tr class="alt">
					<td>github</td>
				    <td>https://github.com/chenqiuyuan/chenqiuyuan.git</td>
				</tr>
			</table>
		</div>
	</div>
	<include file='Public:tail' />
	<!-- 脚标 -->
</body>
</html>
			